################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebApplication/HerWatch_WebApplication/.vs/HerWatch_WebApplication
/WebApplication/HerWatch_WebApplication/bin/Debug/net6.0
