/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}*/


/* Navbar background color */
/*.navbar {
    background-color: lightblue !important;
}*/

/* Ensure other elements like the navbar text contrast well with the new colors */
/*.navbar .nav-link {
    color: #000000 !important;*/ /* Black text for visibility */
/*}

.navbar .navbar-brand {
    color: #000000 !important;*/ /* Black text for visibility */
/*}

.footer {
    background-color: lightblue;
    color: #000000 !important;*/ /* Black text for visibility */
/*}*/